section{
    width: 100%;
    height: auto;
    overflow: hidden;
    max-width: 100%;
    padding: 25px 0px;
    margin-top: 50px;
   position: relative;
   
  }
  a{
    text-decoration: none !important;
    position: relative;
    right: -1px;
  }
  
  span{
    
    display: block;
  }
  
  
form{
    background-color: #fff;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 15px;
    text-align: center;
    position: relative;
    right: -350px;
}

form .form-control{
    border: none;

}

form input,form textarea{
    width: 100%;
    max-width: 100%;
    height: 50px;
    background-color: #fff;
    border: 1px solid plum;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 4px;
    color: #333;
    font-size: 17px;
    outline: none;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Tajawal',sans-serif;
    
}

form textarea{
    height: 120px;
}

form input:hover,form textarea:hover{
    border: 1px solid plum;
    transition: .2s ease-in-out;
    background-color: plum;
    
}

form button{
    width: 100%;
    max-width: 100%;
    height: 50px;
    background-color: #9b6df2 !important;
    border: 1px solid #9b6df2 !important;
    border-radius: 4px !important;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    
}

form button:hover{
    background-color: transparent !important;
    color: #9b6df2;
    transition: .3s ease-in-out;
}

form p{
    color: red;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: rgb(224, 180, 180);
    border: 1px solid red;
    padding: 0px 5px;
    text-transform: uppercase;
}

.side{
    background: url('../assets/download.png') center;
    position: relative;
    right: -350px;
    width: 100%;
    height: auto;
    max-width: 100%;
    background-size: cover;
    border-radius: 4px;
    margin-top: 10px;
}

.side .overlay{
    position: relative;
    right: -1px;
    background-color: #9b6df2; 
    border-radius: 8px;
    opacity: .7;
    padding: 15px;
    padding: 10px 20px;
}

.side .overlay h3{
    color: #fff;
    font-size: 20px;
    margin-top: 35px;
}

.side .overlay li{
    
    color: #fff;
    font-size: 20px;
    margin: 20px 0px;
    font-weight: bold;
    list-style-type: none;
}

.side .overlay li svg{
    margin-right: 15px;
}

.side .overlay hr{
    width: 70%;
    color: #fff;
    background-color: #fff;
}

.q{
    position: relative;
    right: 7px;
}

.side .overlay p{
    color: #fff;
    font-size: 17px;
    margin: 10px 0px;
    line-height: 28px;
}

.side .overlay ul{
    padding: 0px;
    margin: 0;
    padding: 0;
}

.side .overlay ul li{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
    list-style-type: none;
}

.side .overlay ul li svg{
    color: #565acf;
    text-align: center !important;
    padding-left: 30%;
}
